<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Devon Rueckner">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- © Devon Rueckner 2016 -->
  <title>What Should I Watch?</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/static/css/global.css">
  <style type="riot"></style>
</head>

<body>
  <main></main>

  <!-- client templates -->{% for tag in tags %}
  <script type="riot/tag" src="/static/tags/{{ tag }}"></script>
  {% endfor %}

  <!-- preload thumbnails -->{% for src in sprite_sheets %}
  <img src="/static/thumb_sprites/{{ src }}" class="hidden">
  {% endfor %}

  <!-- initial app state -->
  <script type="text/javascript">
    var app = {};
    app.sprites = {{ sprites | safe }};
    app.movies = {{ movies | safe }};
  </script>

  <!-- vendor libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/riot/2.3.13/riot+compiler.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>

  <!-- app -->
  <script src="/static/js/ctrl.js"></script>
  <script src="/static/js/main.js"></script>

</body>

</html>